extends blocks/_layout
append content
	-
		var instant = [
			'Energising Skin Hydration',
			'Reducing Fatigued Look ',
			'Brighter-Looking Skin',
		];
		var renewal = [
			'Protection against environmental aggressors (UV, Pollution, Stress, Smoke)',
			'Brighter, Smoother & more Radiant Skin Complection ',
			'Radiant Skin Complection Increased Skin Elasticity & Repaired Cell Damage',
		];
		var results = [
			'Visibily Reduced Signs of Aging ',
			'Aging Skin Looks & Feels Firmer',
			'Evened Out Skin Tone & Reduced Appearance of Pores',
		];
		var leftSide = [
			{
				img: 'img/apple.png',
				title: 'Apple Extract',
				text: 'A vitamin-rich blend of highly potent anti-oxidants, vitamin C and E. Neutralises wrinkle-inducing free radicals and protects from external aggressors '
			},
			{
				img: 'img/ginger.png',
				title: 'Ginger roots extract',
				text: 'A powerful mix of 40 anti-oxidants that protect the skin, simulate circulation and strengthen skin cells'
			},
			{
				img: 'img/hops.png',
				title: 'Hops extract',
				text: 'Efficiently detoxifies and moisturises skin. Slows down signs of aging '
			},
		];
		var rightSide = [
			{
				img: 'img/lutein.png',
				title: 'Lutein',
				text: ' A powerful anti-oxidant that fights free radical damage from harmful blue light or sunlight UV radiation '
			},
			{
				img: 'img/ascorbine.png',
				title: 'Ascorbine acid',
				text: '(Vitamin C) hydrates skin, boosts firm-feeling skin with brightening and skin toning effects'
			},
			{
				img: 'img/alpha.png',
				title: 'Alpha-Tocopherol',
				text: 'Known as vitamin E, visibly reverses signs of aging by repairing cell damage and boosting collagen production'
			},
		];
		var without = [
			{
				img: '/img/icons/caffeine-free.png',
				text: 'Caffeine free'
			},
			{
				img: '/img/icons/gluten-free.png',
				text: 'Gluten free'
			},
			{
				img: '/img/icons/no-syntetics.png',
				text: 'No Synthetics'
			},
			{
				img: '/img/icons/parabens-free.png',
				text: 'Parabens free'
			}
		];
		var slider = [
			{
				img: '/img/stephen.jpg',
				comment: 'The Nest home security system is a revelation! So convenient and looks cool too!',
				name: 'Stephen Fields',
				location: 'Seattle, WA',
			},
			{
				img: '/img/bryan.jpg',
				comment: 'This product is genius. Its easy to install and looks great. The functionality is amazing - it just works!',
				name: 'Bryan Bates',
				location: 'WA',
			},
			{
				img: 'img/joseph.jpg',
				comment: 'Looks great. Operates exactly as expected. Setup was as easy as pie. Hasnt failed me yet!',
				name: 'Joseph Hansen',
				location: 'WA',
			},
			{
				img: '/img/stephen.jpg',
				comment: 'The Nest home security system is a revelation! So convenient and looks cool too!',
				name: 'Stephen Fields',
				location: 'Seattle, WA',
			},
			{
				img: '/img/bryan.jpg',
				comment: 'This product is genius. Its easy to install and looks great. The functionality is amazing - it just works!',
				name: 'Bryan Bates',
				location: 'WA',
			},
			{
				img: 'img/joseph.jpg',
				comment: 'Looks great. Operates exactly as expected. Setup was as easy as pie. Hasnt failed me yet!',
				name: 'Joseph Hansen',
				location: 'WA',
			},
			{
				img: '/img/stephen.jpg',
				comment: 'The Nest home security system is a revelation! So convenient and looks cool too!',
				name: 'Stephen Fields',
				location: 'Seattle, WA',
			},
		];
	main.main
		.main__banner
			.box
				.main__banner-info
					h2(class="title white") The only brand in the world to offer the next generation skincare treatments for men
					span(class="main__banner-info-text") Energise + Protect + Streighten + Rejuvenate Skin
					.animate-btn
						.orange-color
						.green-color
						a(class="animate-btn__link" href="/") 
							img(src="img/icons/shop.svg", alt="Shop")
							span start shopping
		.combination-section
			a(class="scroll-to-explore" id="scroll-to-explore-js" href="javascript:void(0)") Scroll to Explore
			.cookies
				.cookies-container
					span(class="cookies-text") By further browsing on our site, you agree to our Use of Cookies to improve your experience and deliver content and services tailored to your interests
					a(class="hide-cookies" id="hide-cookies-js" href="javascript:void(0)") Close & Accept
			.box
				img(class="combination-section__left-baloon", src="img/baloon2.png", alt="Baloon")
				.combination-section__main
					h2(class="title dark") Combination of cream & pills is key for results men’s skin all types all ages
					span(class="combination-section__main-text") Based on 40 years of pharma science research
					.combination-section__main-list
						.list-item
							.plus-ico
							span(class="combination-section__main-text") Combination of oral skincare supplement (nutracosmetics) & skincare gel (cosmeceutical)
						.list-item
							.plus-ico
							span(class="combination-section__main-text") KISS (Keep It Simple) routine
						.list-item
							.plus-ico
							span(class="combination-section__main-text") Combining instant satisfaction with long-term results
					.animate-btn
						.orange-color
						.green-color
						a(class="animate-btn__link" href="/") 
							img(src="img/icons/shop.svg", alt="Shop")
							span Shop now
				img(class="combination-section__right-baloon", src="img/baloon1.png", alt="Baloon")
		.result-section
			h2(class="title dark") Results
			.box
				.result-section__list
					.result-section__list-item
						.item-ico-section
							img(src="/img/icons/instant.png", alt="Instant")
						.item-text-section
							span( class="item-text-section__title") Instant Boost
							ul(class="item-text-section__list")
								each item in instant 
									li(class="item-text-section__list-item")
										.plus-ico
										span=item
					.result-section__list-item
						.item-ico-section
							img(src="/img/icons/renewal.png", alt="Renewal")
						.item-text-section
							span( class="item-text-section__title") 28 Days Skin Renewal 
							ul(class="item-text-section__list")
								each item in renewal 
									li(class="item-text-section__list-item")
										.plus-ico
										span=item
					.result-section__list-item
						.item-ico-section
							img(src="/img/icons/results.png", alt="Result") 
						.item-text-section
							span( class="item-text-section__title") 12 WeeKS LOngterm results 
							ul(class="item-text-section__list")
								each item in results 
									li(class="item-text-section__list-item")
										.plus-ico
										span=item
		.ingridients-section
			h2(class="title dark") Six active ingridients
			.box
				.ingridients-section__content
					.ingridients-section__content-side
						each item in leftSide
							.content-side__item
								img(class="content-side__item-img", src=item.img, alt=item.title)
								span(class="content-side__item-title")=item.title
								span(class="content-side__item-text")=item.text
					img(class="ingridients-section__content-central", src="/img/ingridients-center.png", alt="Ingridients")
					.ingridients-section__content-side
						each item in rightSide
							.content-side__item
								img(class="content-side__item-img", src=item.img, alt=item.title)
								span(class="content-side__item-title")=item.title
								span(class="content-side__item-text")=item.text
			a(class="dark-btn" href="/") DISCOVER SCIENCE
		.without-section
			h2(class="title dark") Without
			.box
				.without-section__content
					span(class="without-section__content-info") Certified Vegan, Non-GMO, Vegetarian Society, Halal and Kosher certifications
					.without-section__content-list
						each item in without
							.content-list-item
								img(src=item.img alt=item.text class="content-list-item-img")
								span(class="content-list-item-text")=item.text
		.choose-plan-section
			.choose-plan-section-left
				.section-left-content
					h2(class="title white") Simple But Consistent Routine is key for results
					span(class="choose-plan-subtitle") Choose your Plan
					.choose-plan-container
						.plan
							span(class="plan__status") Single Purchase
							p(class="plan__price") for $115.00
							a(href="/" class="plan__choose") + Choose
						.plan
							span(class="plan__status white") Luimity Subscription
							p(class="plan__price")
								span(class="white") for
								span(class="old") $115.00
								span(class="new") $97.75/mo.
								.popular-achieve
									span popular
							a(href="/" class="plan__choose new") + Choose
					.plans-info
						.plans-info__item
							img(src="img/icons/shipping.png", alt="Free Shipping" class="plans-info__item-img")
							span(class="plans-info__item-text") Free Shipping
						.plans-info__item
							img(src="img/icons/cancel.png", alt="Cancel Anytime" class="plans-info__item-img")
							span(class="plans-info__item-text") Cancel Anytime
						.plans-info__item
							img(src="img/icons/satisfaction.png", alt="Satisfaction Guaranteed" class="plans-info__item-img")
							span(class="plans-info__item-text") Satisfaction Guaranteed
			.choose-plan-section-right

		.mens-told
			h2(class="title dark") Mens talk about this
			.box
				.mens-told__slider.owl-carousel
					each item in slider
						.mens-told__slider-elem
							span(class="slider-comment")=item.comment
							.slider-info
								img(src=item.img, alt=item.name class="slider-info__image")
								p(class="slider-info__commentator") 
									span(class="slider-info__commentator-name")=item.name
									span(class="slider-info__commentator-loc")=item.location



